@use "../general/variables" as *;
.formulaire-contact {

  @include min($desktop) {
    margin-top: 100px;
  }

  &__title {
    font-family: var(--font-title);
    font-size: 3rem;
    display: block;
    color: var(--title-color);
    line-height: 2.813rem;

    @include min($desktop) {
      font-size: 6.25rem;
      padding-bottom: 30px;
    }
  }

  &__sub-title {
    font-family: var(--font-text);
    padding: 0.938rem 0 6.25rem;
    font-size: 1rem;
    color: var(--text-color);
    line-height: 1.125rem;

    @include min($desktop) {
      font-size: 1.5rem;
      padding-top: 0;
      line-height: 28px;
    }
  }


  &__back-red {
    margin: 0 -1.5rem;
    padding: 0.938rem 1.5rem 3.75rem;
    background: var(--title-color);
    border-radius: 8px;
    z-index: 1;

  }

  .form {
    background-color: var(--text-color);
    color: var(--background-color);
    padding: 0 17px 45px;
    border-radius: 20px;

    @include min($tablet) {
      padding: 0 56px 75px;
    }

    &__champs {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      @include min($desktop) {
        padding: 0;
      }

      .field {
        display: flex;
        flex-direction: column;
      }

      .name {
        grid-area: name;
      }

      .firstname {
        grid-area: firstname;
      }

      .email {
        grid-area: email;
      }

      .message {
        grid-area: message;
      }

      @include min($tablet) {
        padding: 78px 0;
        display: grid;
        column-gap: 1.5rem;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
      "name     firstname"
      "email    email    "
      "message  message  ";
      }
      @media (min-width: 1200px) {
        padding: 0;
        row-gap: 0;
      }
    }

    &__pin-form {
      display: flex;
      justify-content: center;
    }

    &__pin {
      display: none;

      @include min($desktop) {
        display: unset;
        position: absolute;
        top: -15%;
        width: 6.5rem;
        z-index: 3;
      }
    }
    &__label {
      font-family: var(--font-text);
      font-size: 1.25rem;
      padding-bottom: 10px;
      padding-top: 23px;
      display: block;
    }
    &__input,
    &__textarea {
      background-color: var(--background-color);
      font-family: var(--font-text);
      font-size: 1rem;
      color: var(--text-color);
      width: 100%;
      padding: 20px 20px 20px 10px;
      border-radius: 10px;
      box-sizing: border-box;
      border: var(--text-color);
      resize: vertical;
    }
    &__required-note {
      font-family: var(--font-text);
      font-size: 0.75rem;
      padding-top: 10px;
      padding: 10px 0 25px;

      @include min($tablet) {
        font-size: 1rem;
        grid-column: 1 / span 2;
      }
    }

    &__error {
      font-family: var(--font-text);
      font-size: 1.25rem;
      font-weight: bold;
      padding-top: 10px;
    }

    .submit {
      font-family: var(--font-text);
      font-size: 1.25rem;
      font-weight: bold;
      border: 2px solid var(--background-color);
      padding: 10px;
      border-radius: 10px;
      color: var(--background-color);
      background-color: transparent;
      transition: .4s;
      text-transform: uppercase;
      width: 100%;

      &:hover {
        border: 2px solid var(--text-color);
        background-color: var(--background-color);
        color: var(--text-color);
      }

      @include min($tablet) {
        width: 100%;
        padding: 20px 20px 20px 10px;
        border-radius: 10px;
        box-sizing: border-box;
      }
    }
  }

  &__feedback, &__error-form {
    font-family: var(--font-text);
    color: var(--text-color);
    font-size: 1rem;
    font-weight: bold;
    padding-top: 10px;
    text-transform: uppercase;

    @include min($desktop) {
      font-size: 2rem;
    }

    @include max($desktop) {
      background-color: var(--text-color);
      color: var(--background-color);
      display: block;
      border-radius: 10px 10px 0 0;
      margin: 20px 0 0;
      text-align: center;
      white-space: pre-line;
    }
  }

  @include min($desktop) {
    .formulaire-contact__container {
      display: grid;
      align-items: start;
      gap: 1.5rem;
      grid-template-columns: repeat(12, 1fr);
      position: relative;
    }
  }

  @include min($desktop) {
    .formulaire-contact__left {
      grid-column: 1/4;
      top: 4.5rem;
    }
  }

  @include min($desktop) {
    .formulaire-contact__right {
      grid-column: 7/13;
    }

  }

}


