@use "../general/variables" as *;
.notices {
  &__title {
    font-family: var(--font-title);
    font-size: 3rem;
    display: block;
    color: var(--title-color);
    line-height: 2.813rem;

    @include min($desktop) {
      margin-top: 6.25rem;
      font-size: 6.25rem;
      padding-bottom: 5.938rem;
    }
  }
  &__content {
    display: grid;
    row-gap: 3rem;
    padding: 2rem 0;

    @include min($desktop) {
      row-gap: 6rem;
    }
  }

  &__sub-title {
    font-family: var(--font-title);
    font-size: 1.5rem;
    display: block;
    color: var(--title-color);
    padding-bottom: 1.25rem;

    @include min($desktop) {
      font-size: 3rem;
    }
  }
  &__text, &__link {
    font-family: var(--font-text);
    font-size: 1rem;
    display: block;
    color: var(--title-color);
    line-height: 1.75rem;
    text-wrap: balance;


    @include min($desktop) {
      font-size: 1.5rem;
    }
  }
  &__link{
    font-weight: bold;
    text-decoration: underline var(--title-color);
  }
}

