@use "../general/variables" as *;
.header-creation {
  &__title {
    font-family: var(--font-title);
    font-size: 3rem;
    display: block;
    color: var(--title-color);
    line-height: 2.813rem;

    @include min($desktop) {
      margin-top: 100px;
      font-size: 6.25rem;
    }
  }
}

.creation__wrapper {
  border: 0.250rem solid var(--title-color);
  border-radius: 0 5px 5px 5px;
  overflow: hidden;

  @include min($desktop) {
    border: 0.5rem solid var(--title-color);
  }
}

.creation-filter {

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: stretch;
    gap: 6px;
    padding-top: 20px;

    @include min($desktop) {
      padding-top: 40px;
      gap: 12px;
    }
  }

  &__link {
    display: block;
    padding: 0.4rem 1.25rem;
    border: 0.250rem solid var(--title-color);
    text-decoration: none;
    color: var(--title-color);
    font-size: 1rem;
    font-family: var(--font-text);
    text-transform: uppercase;
    transition: all 0.6s ease;
    border-radius: 0.313rem 0.313rem 0 0;

    &:hover {
      background-color: var(--title-color);
      color: var(--background-color);
    }

    @include min($desktop) {
      border-radius: 12px 25px 0 0;
      border-top: solid 0.5rem var(--title-color);
      border-left: solid 0.5rem var(--title-color);
      border-right: solid 10px var(--title-color);
      border-bottom: solid 0 var(--title-color);
      //border: 0.3rem solid var(--title-color);
      font-size: 1.5rem;
      padding: 20px 50px;
      font-weight: bold;
    }
  }
}

.project-card{
  &__content {
    width: 300px;
    padding: 1rem;
    transition: all .3s ease-out;

    @include min($desktop) {
      width: 500px;
    }
  }

  &__grid:hover .project-card__content:not(:hover) {
    filter: blur(10px);
    transform: scale(0.9);
  }
}
