@use "../general/variables" as *;
.title-page {
  font-family: var(--font-title);
  font-size: 3rem;
  display: block;
  color: var(--title-color);
  padding-bottom: 3.125rem;

  @include min($desktop) {
    margin-top: 6.25rem;
    font-size: 6.25rem;
  }
}

.project-link {

  &__btn {
    color: var(--title-color);
    font-family: var(--font-text);
    font-weight: bold;
    font-size: 0.875rem;
    display: inline-block;
    padding: 1rem 1.313rem;
    border: var(--title-color) 0.3em solid;
    border-radius: 11px;
    transition: all 0.6s ease;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      background-color: var(--title-color);
      color: var(--background-color);
    }

    @include min($desktop) {
      font-size: 1.25rem;
      font-weight: bold;
      padding: 1.438rem 2.438rem;

    }
  }
}

.project {
  transition: all .3s ease-in;

  @include min($desktop) {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 12.5rem;
    align-items: center;
    padding-bottom: 3.125rem;

    &:nth-child(odd) {
      .project__container {
        order: -1;
      }
    }
  }

  &__title {
    font-family: var(--font-title);
    font-size: 1.5rem;
    color: var(--title-color);
    padding-bottom: 1.25rem;

    @include min($desktop) {
      font-size: 3rem;
    }

  }

  &__paragraphe {
    transition: all .3s ease-in;
    font-family: var(--font-text);
    font-size: 1rem;
    color: var(--title-color);
    padding-bottom: 1.25rem;

    @include min($desktop) {
      font-size: 1.5rem;
      letter-spacing: 2px;
      line-height: 1.75rem;
    }
  }

  &__container {
    display: flex;
    min-width: 8.75rem;
    flex-direction: column;
    align-items: center;
    transition: all .3s ease-in;
  }

  &__container-img {
    max-width: 100%;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 50px;
    transition: all .3s ease-in;
    @include min($desktop) {
      max-width: 28.563rem;
      width: 100%;
      max-height: 18.75rem;
      margin-bottom: unset;
    }
  }

}



